.comman-button {
    background-color: #eb4435;
    color: #fff;
    border-radius: 5px;
    line-height: 1;
    padding: 19px 26px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    &:hover {
        background-color: #0e0e0e;
        color: white;
    }
    &:focus {
        box-shadow: none;
    }
}

@media (max-width: 767.98px) {
    .comman-button {
        padding: 16px 18px;
    }
}

@media (max-width: 575.98px) {
    .fw-sm-100 {
        width: 100%;
    }
}