.testimonial-title .title {
    margin-bottom: 130px;
}

.testimonial-title span {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 130px;
}

.icon-shape {
    position: absolute;
    left: 140px;
    z-index: -1;
}