.services-bg {
    background-color: #fff;
    padding-top: 65px;
}

.service-title {
    text-align: center;
    margin-bottom: 60px
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ececec;
    // height: 100px;
    .single-service {
        width: 33.33%;
        background-color: #fff;
        border-bottom: 1px solid #ececec;
        border-right: 1px solid #ececec;
        overflow: hidden;
        padding: 54px 55px 56px 50px;
        h4 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 24px;
        }
        p {
            font-size: 16px;
            color: #999191;
        }
        img {
            width: 70px;
            margin-bottom: 40px;
        }
        span {
            position: absolute;
            top: 33px;
            right: 58px;
            font-size: 16px;
            font-weight: 700;
            color: #0e0e0e;
        }
        &::before {
            content: "";
            background-color: #eb4435;
            height: 0;
            width: 100%;
            top: auto;
            bottom: 0;
            left: 0;
            position: absolute;
            z-index: 0;
            transition: 0.4s;
            transform: translateY(-100%);
        }
        &:hover {
            img {
                filter: invert(1)brightness(100);
            }
            h4,
            p {
                color: white;
                position: relative;
                z-index: 1;
            }
            span {
                color: white;
                z-index: 1;
            }
            &::before {
                content: "";
                background-color: #eb4435;
                height: 100%;
                width: 100%;
                top: 0;
                bottom: auto;
                left: 0;
                position: absolute;
                transition: 0.4s;
                z-index: 0;
                transform: translateY(0%);
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .service-container {
        .single-service {
            width: 50%;
            padding: 54px 55px 56px 50px;
        }
    }
}

@media (max-width: 991.98px) {
    .service-container {
        .single-service {
            width: 100%;
            padding: 36px;
        }
    }
}